spring:
  profiles:
    active: native
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations # ? ???? ????? (/resources/configurations)???????? ??? ????????????(??? yaml ????? ?? ????? ?????????????) ??? ??????? ?? ???? ????? ?????????????

# config-server ?????? ??? yaml\properties ????? ???? ?????????????.
# ?.?. ???????????? ?? ?????? ? ???? ???? yaml ?????
server:
  port: 8888
